/* This file is for your main application css. */
.board{
  display:flex;
  flex-direction: column;

}
.row{
  display: flex;
  flex-direction: row;
}

.cell{
  border: 2px solid black;
  height: 20px;
  width: 20px;
}
